img{
  width: 30%;
  margin-top: 10%;
}
h1{
  color: #00dd00;
  margin-top: 0px;
  margin-bottom: 2px
} /*header*/
#center{
  text-align: center;
}

nav{
  background-color: #00dd00;
  padding-top: 10px;
  padding-bottom: 10px;
} /*navigazione*/

main{
  text-align: left;
  color: white;
}
h2{
  display: inline-block;
  margin-bottom: 0px;
}
p{
  margin-top: 3px;
  margin-bottom: 0px;
}
#rectangle1 {
    width: 50%;
    height: 20px;
    background: #f5b453;
    border-radius: 3px 3px 3px 3px;
}
#rectangle2 {
    width: 80%;
    height: 20px;
    background: #1ec31e;
    border-radius: 3px 3px 3px 3px;
}
#rectangle3 {
    width: 15%;
    height: 20px;
    background: #be4141;
    border-radius: 3px 3px 3px 3px;
}

body{
font-family:Verdana;
font-style:normal;
font-size: small;
background-color:#0000008a;
margin-right: 20%;
margin-left: 20%;
margin-top: 5%;
padding-left: 5%;
padding-right: 5%;
padding-bottom: 5%;
margin-bottom: 10%;
border-radius: 20px 20px 20px 20px;
}

html{
background-image: url(background.JPG);
background-size: 1917px 990px;
}
